/node_modules
/public/hot
/public/storage
/public/uploads/candidates/profiles
/public/uploads/company
/public/uploads/general_setting
/public/uploads/banners
/public/uploads/jobcategory
/public/uploads/jobs
/public/uploads/news
/public/uploads/newscat
/public/uploads/admin
/public/uploads/informations
/public/uploads/cv
/public/uploads/candidate/cv
/public/uploads/candidates/full_picture/*.*
/public/uploads/santi/*.*
/public/uploads/about/*.*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.htaccess
